{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_start(registrationForm) }}
    {#    <label for="inputUsername">Логин</label> #}
    {#    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus> #}
    {{ form_row(registrationForm.username, {
        label: 'Логин'
    }) }}
    {#    <label for="inputUsername">Пароль</label> #}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Пароль'
    }) }}
    {{ form_row(registrationForm.agreeTerms, {
        label: 'Согласие на обработку данных'
    }) }}
    <div class="col text-center">
        <button type="submit" class="btn btn-lg btn-primary">Зарегистрироваться</button>
        {{ form_end(registrationForm) }}
    </div>


{% endblock %}
